body{
    background-image: url(/images/bg_image.jpg);
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    margin: 0px 0px 15px;
}

.bg-white{
    border-radius: 10px;
    background-color: white;
    background-clip: padding-box;
    padding: 25px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    min-height: 600px;
}

.border-white{
    padding: 31px;
    background-color: rgba(255, 255, 255, 0.42);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}


/* Bootstrap Sachen abschalten */


.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(116, 170, 7, 0) !important;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-top: 0;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(116, 170, 7, 0) !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
  background-color: rgba(116, 170, 7, 0) !important;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 0px 0px 0px 0px !important;
}

.navbar-toggle-custom{
    background-color:#74AA07;
    border-radius: 10px 10px 10px 10px;
    color: white;
    height: 26px;
    padding: 4px;
}

.navbar-nav {
    float: unset;
    margin: 0;
}

/* Aus mainmenu.css der alten Seite kopiert: */

.hlist li {
    margin: 0 5px 0 0px;
    padding: 0;
    text-align: center;
    background:#74AA07;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*height:28px;
    width:140px;*/
    box-sizing: border-box;
}

.hlist .dropdown-menu li {
    width: unset !important;
}


@media only screen and (min-width: 1200px) {
    .hlist li {
        width:13.5% !important;
    }
  }
  
  @media (max-width: 1199px) and  (min-width: 992px) {
    .hlist li {
        padding-left: 5px;
        padding-right: 5px;
    }
  }


.hlist li a, 
.hlist li a:visited {
    cursor: pointer;
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    height: 26px;
    padding: 4px;
}

.hlist li:hover {
    background-color: #8B8B91;
}

/*
.hlist li a, 
.hlist li a:visited
{
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: normal;
    padding: 4px;
    display: inline-block;
    height: 26px;
    font-size: 20px;
    position: relative;
    letter-spacing: -1px;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    position: relative;
    text-decoration: none;
}/*

.hlist .active a, 
.hlist li a:hover, 
.hlist ul li:hover a, 
.hlist .active a:visited
{
    text-transform: none;
    color: white;
    text-decoration: none;
}*/

/* eigene änderungen */

.hlist{
    margin-bottom:15px;
}
