body{
    background-image: url(/images/bg_image.jpg);
}


.bg-white{
    border: 25px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: white;
    background-clip: padding-box;
}

.border-white{
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 17px;
}