<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Custom Stylesheet-->
    <link rel="stylesheet" href="/css/custom.css">

</head>

<body>

    <div class="container">
        {{partial "header"}}

        {{partial "navbar"}}

        <div class="row">
            <div class="col-md-12">
                <div class="border-white">
                <div class="bg-white">
                    {{ block "main" . }}
                    <!-- The part of the page that begins to differ between templates -->
                    {{ end }}
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>

</body>


</html>