<h2>Heilverfahren:</h2>
<div class="row">
    {{ range .Site.AllPages}}
    {{if eq .Title "Heilverfahren" }}
    {{ range .Pages}}
    
    <div class="col-md-4">
        {{if (isset .Params "image" )}}
        <!--<img class="img-responsive" src="{{ .Params.image }}">-->
        {{ $test := print (.Params.image)}}
        {{if (resources.GetMatch $test )}}
        {{ $originalimg := resources.GetMatch (.Params.image) }}
        {{.Scratch.Set "image" ($originalimg.Resize "109x73 Gaussian") }}
        {{ $thumbnail := .Scratch.Get "image" }}
        <img src='{{ $thumbnail.RelPermalink }}'>
        {{else}}
        <p>No image here...</p>
        {{end}}




        {{ end }}
        <a href="{{.URL}}">{{.Title}}</a>
        {{ truncate 140 .Summary}}
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>