{{ if (isset .Params "meta")}}
    {{ with .Params.meta}}
        <title>{{ .title }}</title>
        <meta id="MetaDescription" name="DESCRIPTION" content="{{ .description }}">
        <meta id="MetaKeywords" name="KEYWORDS" content="{{ .keywords }}">
    {{end}}
{{ else }}
    <title>{{ .Title }}</title>
    <meta id="MetaDescription" name="DESCRIPTION" content="Naturheilpraxis Hildegard Förster: Heilpraktikerin für Naturheilkunde, Homöopathie, Kinderhomöopathie und Yoga in Lahnstein">
    <meta id="MetaKeywords" name="KEYWORDS" content="Heilpraktiker, Heilpraktikerin, Heilpraktiker in Lahnstein, Naturheilkunde, Lahnstein, Entspannung, Gelenkschmerzen, Gelenktherapie Dorn, Lösungsorientierte Hypnose, Facial Harmony, Yoga in Lahnstein, Yogaausbildung, Behandlung, Rückenschmerzen, Gelenkschmerzen, Kinesiologie">
{{ end }}
<meta id="MetaAuthor" name="AUTHOR" content="Naturheilpraxis Hildegard Förster Lahnstein">