<nav class="navbare">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button btn-success" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span>"Menü"</span>

        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          {{ range .Site.Menus.mainmenu}}

          <li><a href="{{.URL}}"><button style="display:inline" class="btn btn-success navbar-btn">{{.Name}}</button></a></li>

        {{ end }}

      </div>
    </div>
  </nav>