<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle btn btn-success" data-toggle="collapse" data-target="#myNavbar">
        Menü  
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          {{ range .Site.Menus.mainmenu}}
          {{ if .HasChildren }}
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{.Name}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li><a href="{{.URL}}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          {{ else}}
          <li><a href="{{.URL}}"><button style="display:inline" class="btn btn-success navbar-btn">{{.Name}}</button></a></li>
          {{ end }}
        {{ end }}

      </div>
    </div>
  </nav>