<nav class="navbare">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/"><button style="display:inline" class="btn btn-danger navbar-btn">Home</button></a></li>
          {{ range .Pages}}

          <li><a href="{{.URL}}"><button style="display:inline" class="btn btn-danger navbar-btn">{{.Title}}</button></a></li>

        {{ end }}

      </div>
    </div>
  </nav>